# Bonus: Temperature Analysis I

In [66]:
import pandas as pd
from datetime import datetime as dt

In [32]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01   2.0  18.3
1  USC00519397  2010-01-02   0.0  17.2
2  USC00519397  2010-01-03   0.0  23.3
3  USC00519397  2010-01-04   0.0  24.4
4  USC00519397  2010-01-06   NaN  22.8

In [33]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"])
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs              float64
dtype: object

In [34]:
# Set the date column as the DataFrame index
df_sorted = df.set_index("date")
df_sorted

                station  prcp  tobs
date
2010-01-01  USC00519397   2.0  18.3
2010-01-02  USC00519397   0.0  17.2
2010-01-03  USC00519397   0.0  23.3
2010-01-04  USC00519397   0.0  24.4
2010-01-06  USC00519397   NaN  22.8
...                 ...   ...   ...
2017-08-19  USC00516128   2.3  21.7
2017-08-20  USC00516128   NaN  25.6
2017-08-21  USC00516128  14.2  24.4
2017-08-22  USC00516128  12.7  24.4
2017-08-23  USC00516128  11.4  24.4

[19550 rows x 3 columns]

In [43]:
# Drop the date column
df_dropped = df.drop("date", axis=1)
df

           station       date  prcp  tobs
0      USC00519397 2010-01-01   2.0  18.3
1      USC00519397 2010-01-02   0.0  17.2
2      USC00519397 2010-01-03   0.0  23.3
3      USC00519397 2010-01-04   0.0  24.4
4      USC00519397 2010-01-06   NaN  22.8
...            ...        ...   ...   ...
19545  USC00516128 2017-08-19   2.3  21.7
19546  USC00516128 2017-08-20   NaN  25.6
19547  USC00516128 2017-08-21  14.2  24.4
19548  USC00516128 2017-08-22  12.7  24.4
19549  USC00516128 2017-08-23  11.4  24.4

[19550 rows x 4 columns]

### Compare June and December data across all years

In [72]:
from scipy import stats

In [50]:
# Filter data for desired months
june = df[df["date"].dt.month == 6]
december =  df[df["date"].dt.month == 12]

In [59]:
# Identify the average temperature for June
june_average_temp = june["tobs"].mean()
june_average_temp

23.857705882352942

In [60]:
# Identify the average temperature for December
december_average_temp = december["tobs"].mean()
december_average_temp

21.690507580751483

In [62]:
# Create collections of temperature data
june_temp = june["tobs"]
december_temp = december["tobs"]

In [73]:
# Run paired t-test
stats.ttest_ind(june_temp, december_temp)

Ttest_indResult(statistic=31.59056548087541, pvalue=5.361211725471411e-191)

### Analysis

In [ ]:
# Here we use an independent t test because the two groups are for different months of the year. Given the very small p-value
# we can say that there is a statistically significant difference in mean temperature between the months June and December.
# This makes sense as we would expect winter months to be colder than summer months.